<div>
  <div class="header-add-item">
    <h3>Add Item</h3>
    <div class="header-add-item-border"></div>
  </div>

  <div class="first-row-item">
    <div class="row-item-list">
      <span> Item Name </span>
      <mat-form-field appearance="outline">
        <mat-label>Enter the Item Name </mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
    </div>
    <div class="row-item-list">
      <span> Item Category </span>
      <mat-form-field appearance="outline">
        <mat-label>Choose an option</mat-label>
        <mat-select>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row-item-list">
      <span> Item Unit </span>
      <mat-form-field appearance="outline">
        <mat-label>Choose an option</mat-label>
        <mat-select>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="first-row-item">
    <div class="row-item-list">
      <span> Price </span>
      <mat-form-field appearance="outline">
        <mat-label>Enter the Price </mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
    </div>
    <div class="row-item-list">
      <div class="row-item-list">
        <span> Item GST(%) </span>
        <mat-form-field appearance="outline">
          <mat-label>Enter the GST(%) </mat-label>
          <input matInput placeholder="Placeholder" />
        </mat-form-field>
      </div>
    </div>
    <div class="row-item-list">
      <div class="row-item-list">
        <span> Item Discount(%) </span>
        <mat-form-field appearance="outline">
          <mat-label>Enter the Discount(%) </mat-label>
          <input matInput placeholder="Placeholder" />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
